<!DOCTYPE html>
<html>
<head>
  <title>Soundboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>hasenklang</h1>
  <nav>
    <%- if logged_in? -%>
      You're logged in as <%= current_user.email %>
      | <%= link_to "Edit sounds", sounds_path %>
    <%- else %>
      <%= link_to "Log in", "/auth/google_oauth2" %>
    <% end %>
  </nav>


</header>
<%- if flash[:notice] -%>
  <div class="flash notice"><%= flash[:notice] %></div>
<% end %>
<section class="main">
  <%= yield %>
</section>
</body>
</html>
